{
  "presets": ["next/babel"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "bash",
          "graphql",
          "html",
          "javascript",
          "json",
          "toml",
          "yaml",
          "jsx"
        ]
      }
    ]
  ]
}
