registry "https://artifactory-content.stripe.build/artifactory/api/npm/npm"
"@sail:registry" "https://artifactory-content.stripe.build/artifactory/api/npm/npm-internal"
"@stripe-internal:registry" "https://artifactory-content.stripe.build/artifactory/api/npm/npm-internal"