:root {
  --nav-height: 64px;

  --radii-1: 4px;

  --font-size-0: 8px;
  --font-size-1: 12px;
  --font-size-2: 13px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 24px;
  --font-size-6: 32px;
  --font-size-7: 48px;

  --line-height-3: 26px;

  --theme: #2dbe62;
  --blurple: #5469d4;
  --text: #3c4257;
  --dark: #1a1f36;
  --gray-1: #697386;
  --gray-2: #e3e8ee;
  --gray-3: #f7fafc;
}

* {
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

blockquote {
  margin: 2rem 0;
}

a {
  color: var(--blurple);
}
a:hover {
  color: var(--dark);
}

p,
li,
code,
td {
  color: var(--text);
}

ol {
  padding-left: 1em;
}

li {
  margin: 0.25rem 0;
}

p {
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
}

h1 {
  font-size: var(--font-size-7);
  max-width: 66%;
}

h2 {
  font-size: var(--font-size-5);
  margin-top: 3rem;
}

h3 {
  font-size: var(--font-size-4);
  margin-top: 2rem;
}

h5 {
  font-size: var(--font-size-3);
  font-weight: normal;
}

pre {
  border-radius: var(--radii-1);
}

code {
  font-size: inherit;
  font-size: 15px;
  font-weight: 500;
  padding: 1px 2px;
  background: var(--gray-3);
  border: 1px solid #e3e8ee;
  border-radius: var(--radii-1);
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: 2rem;
}

tbody {
  overflow: hidden;
  border-radius: var(--radii-1);
  border-style: hidden;
  box-shadow: 0 0 0 1px var(--gray-2);
}

th {
  font-weight: 500;
  font-size: 13px;
  color: var(--gray-1);
  text-transform: uppercase;
  text-align: left;
  padding: 0 16px 8px 16px;
}

td {
  padding: 16px 16px;
}

tr:nth-child(2n + 1) td {
  background: var(--gray-3);
}

table tbody tr:first-child > td {
  border-top-width: 1px;
}
table tbody tr:first-child > td:first-child {
  border-top-left-radius: 4px;
}
table tbody tr:first-child > td:last-child {
  border-top-right-radius: 4px;
}
table tbody tr:last-child > td:first-child {
  border-bottom-left-radius: 4px;
}
table tbody tr:last-child > td:last-child {
  border-bottom-right-radius: 4px;
}
