/* TODO move styles to style-jsx */
:root {
  --default-vertical-spacing: 0.75rem;
  --nav-height: 53px;
  --shadow-height: 14px;
  --landing-page-max-width: 1200px;

  --radii-1: 4px;

  --mono: 'GT America Mono Trial', monospace;
  --serif: Nib Trial, serif;

  --font-size-0: 8px;
  --font-size-1: 12px;
  --font-size-2: 13px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 24px;
  --font-size-6: 32px;
  --font-size-7: 48px;

  --line-height-1: 16px;
  --line-height-2: 20px;
  --line-height-3: 24px;
  --line-height-4: 27px;
  --line-height-5: 32px;
  --line-height-6: 40px;
  --line-height-7: 60px;

  --white: #ffffff;
  --black: #18181b;
  --light: #ffffff;
  --dark: #18181b;

  --text: var(--dark);
  --link: var(--dark);
  --contrast-light: var(--theme);
  --contrast-dark: var(--dark);

  --theme: #f1ea51;
  --green: #2dbe62;
  --orange: #c78100;
  --blue: #00738a;
  --gray-1: #697386;
  --gray-2: #e3e8ee;
  --gray-3: #f7fafc;
}

@media screen and (max-width: 1200px) {
  :root {
    --landing-page-max-width: 90vw;
  }
}

body.dark {
  --light: #18181b;
  --dark: #ffffff;
  --text: var(--dark);
  --link: var(--dark);
  --contrast-light: #2c2c30;
  --contrast-dark: var(--contrast-light);

  background: var(--light);
}

* {
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: var(--link);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
  appearance: none;
}

blockquote {
  margin: 1rem 0;
}

p,
li,
code,
td {
  color: var(--text);
}

span {
  color: inherit;
}

ol {
  padding-left: 1em;
}

li {
  margin: 0.25rem 0;
}

p {
  /* TODO color: inherit */
  font-size: var(--font-size-4);
  line-height: var(--line-height-4);
  margin: 0;
  padding-top: var(--default-vertical-spacing);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* TODO color: inherit */
  color: var(--dark);
  position: relative;
}

h1.jumbo {
  font-family: var(--serif);
  font-size: 79px;
  font-style: normal;
  font-weight: 400;
  line-height: 91px;
  letter-spacing: -0.02em;
}

h2.jumbo {
  font-family: var(--serif);
  font-size: 73px;
  font-style: normal;
  font-weight: 400;
  line-height: 84px;
  letter-spacing: -0.02em;
  max-width: calc(var(--landing-page-max-width) / 3);
}

h3.jumbo {
  font-family: var(--serif);
  font-size: 43px;
  font-style: normal;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: -0.02em;
}

h1,
.h1 {
  font-size: var(--font-size-7);
  line-height: var(--line-height-7);
  max-width: calc(var(--landing-page-max-width) * 2 / 3);
}

h2,
.h2 {
  font-size: var(--font-size-5);
  line-height: var(--line-height-5);
  margin-top: 2.5rem;
}

h3,
.h3 {
  font-size: var(--font-size-4);
  line-height: var(--line-height-4);
  margin-top: 2rem;
}

h5,
.h5 {
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
  font-weight: normal;
}

.heading .anchor {
  position: absolute;
  top: calc(-1 * (var(--nav-height) + 44px));
}

pre {
  border-radius: var(--radii-1);
}

code {
  font-size: inherit;
  font-size: 15px;
  font-weight: 500;
  padding: 1px 2px;
  background: var(--gray-3);
  border: 1px solid #e3e8ee;
  border-radius: var(--radii-1);
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: 2rem;
}

tbody {
  overflow: hidden;
  border-radius: var(--radii-1);
  border-style: hidden;
  box-shadow: 0 0 0 1px var(--gray-2);
}

th {
  font-weight: 500;
  font-size: 13px;
  color: var(--gray-1);
  text-transform: uppercase;
  text-align: left;
  padding: 0 16px 8px 16px;
}

tr {
  vertical-align: top;
}

td {
  padding: 16px 16px;
}

tr:nth-child(2n + 1) td {
  background: var(--gray-3);
}

table tbody tr:first-child > td {
  border-top-width: 1px;
}
table tbody tr:first-child > td:first-child {
  border-top-left-radius: 4px;
}
table tbody tr:first-child > td:last-child {
  border-top-right-radius: 4px;
}
table tbody tr:last-child > td:first-child {
  border-bottom-left-radius: 4px;
}
table tbody tr:last-child > td:last-child {
  border-bottom-right-radius: 4px;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.equal-width {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}

.full-width {
  width: 100%;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #f2f2f2 !important;
}

.token {
  background: transparent !important;
}

.token.function,
.token.class-name,
.sandbox span.cm-atom,
.sandbox span.cm-attribute {
  color: var(--orange) !important;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.sandbox span.cm-link,
.sandbox span.cm-string {
  color: var(--green) !important;
}

.token.tag,
.sandbox span.cm-tag {
  color: var(--blue);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.sandbox span.cm-string {
  color: var(--blue);
}

.sandbox span.cm-link,
.sandbox span.cm-string {
  color: var(--theme) !important;
}

.sandbox span.cm-strong,
.sandbox span.cm-header {
  font-weight: bold;
}

/* ---------------------------- */

/* _app */
.page {
  display: flex;
  flex-grow: 1;
  padding-top: var(--nav-height);
  min-height: 100vh;
}

.skip-nav {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

.skip-nav:focus {
  padding: 1rem;
  position: fixed;
  top: 10px;
  left: 10px;
  background: white;
  z-index: 1000;
  width: auto;
  height: auto;
  clip: auto;
}

.nav-bar {
  top: 0;
  position: fixed;
  z-index: 100;
  display: flex;
  width: 100%;
  padding: 0 2rem;
  background: var(--light);
}

.nav-bar nav {
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  box-shadow: 0 1px 0 0 var(--dark);
}

.nav-bar nav a[href='/sandbox'] {
  text-decoration: none;
}

.nav-bar nav a[href='/sandbox']:hover {
  text-decoration: underline;
}

.nav-bar nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-bar nav ul li {
  list-style-type: none;
  margin-left: 1.5rem;
  font-size: 16px;
  font-weight: 400;
}

.document {
  flex: 1 auto;
  max-width: 100%;
  min-width: 0;
  padding: 0 2rem 4rem 2rem;
}

footer {
  position: relative;
  display: flex;
  z-index: 100;
  width: 100%;
  color: var(--dark);
  border-top: 1px solid var(--dark);
}

footer a {
  margin-right: 24px;
}

/* Callout */
.callout p:first-of-type {
  padding: 0;
}

/* SideBySide */
/* TODO investigate removing this */
.side-by-side .heading {
  margin-top: 0;
  margin-bottom: 0;
}

/* SideNav and TableOfContents */
.sidenav li a:hover,
.sidenav li.active > a,
.toc li a:hover,
.toc li.active > a {
  text-decoration: underline;
}

.sidenav li,
.toc li {
  list-style-type: none;
  margin-left: 1.5rem;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 0.75rem;
}

.sidenav li a,
.toc li a {
  color: var(--text);
}

.toc li.padded {
  padding-left: 1rem;
}

/* ---------------------------- */

/* Landing page overrides */
.page--landing :not(pre) > code[class*='language-'],
.page--landing pre[class*='language-'] {
  color: white;
  background: var(--black) !important;
  text-shadow: var(--black);
}

.page--landing .token {
  color: white !important;
}

.page--landing pre .token.string {
  color: var(--theme) !important;
}

.page--landing .code button {
  color: var(--white);
  background: var(--black);
}

.page--landing .sandbox {
  /* Keep panel fixed while exploring */
  height: 600px;
}

.page--landing .sandbox span.cm-link,
.page--landing .sandbox span.cm-string {
  color: inherit !important;
}

.page--landing table {
  margin: 0;
  table-layout: fixed;
  width: 100%;
}

.page--landing tbody {
  /* border: 1px solid #151517; */
  border-radius: 0;
  border-style: initial;
  box-shadow: none;
}

.page--landing table td {
  position: relative;
  border: 1px solid var(--dark);
  background: var(--light);
  border-radius: 0;
  padding: 0.74rem 1.5rem 2rem;
}

.page--landing table td strong {
  font-family: var(--mono);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.page--landing table td p {
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
}

.page--landing table td::after {
  position: absolute;
  content: '';
  background: var(--light);
  width: 10px;
  height: 10px;
  top: -5px;
  left: -5px;
}

.page--landing table td::before {
  position: absolute;
  content: '';
  background: var(--light);
  width: 10px;
  height: 10px;
  bottom: -5px;
  right: -5px;
}

.page--landing table td *:last-child a {
  text-decoration: none;
  font-weight: 500;
}

.page--landing table td *:last-child a:hover {
  text-decoration: underline;
}
