.sandbox {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  border: 1px solid var(--dark);
}

.sandbox .editor-pane .CodeMirror,
.sandbox .editor-pane .react-codemirror2 {
  height: 100%;
  cursor: text;
  color: white;
  background: var(--contrast-dark);
  border-top: 1px solid rgba(255, 255, 255, 0.22);
}

.sandbox .preview-pane .CodeMirror,
.sandbox .preview-pane .react-codemirror2 {
  height: 100%;
}

.sandbox .CodeMirror-gutters {
  background-color: var(--contrast-dark);
  border-right: 1px solid rgba(255, 255, 255, 0.22);
}

.sandbox .CodeMirror-linenumber {
  color: var(--contrast-dark);
}

.sandbox .CodeMirror-cursor {
  border-left: 1px solid var(--theme);
}

.sandbox nav {
  padding: 0.5rem 2rem 0.5rem 30px;
  background: var(--contrast-dark);
}

.sandbox h1,
.sandbox nav {
  display: flex;
  flex: 0 1 auto;
}

.sandbox nav button {
  cursor: pointer;
  background: var(--white);
  border: 1px solid var(--contrast-dark);
  padding: 0.25rem 0.5rem;
}

.sandbox .btn-group {
  margin-left: auto;
}

.sandbox .btn-group:after {
  content: '';
  clear: both;
  display: table;
}

.sandbox .btn-group button:not(:last-child) {
  border-right: none;
}

.sandbox .container {
  display: flex;
  flex: 1;
  min-height: 0;
}

.sandbox section {
  overflow: scroll;
  width: 50%;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.sandbox .preview {
  background: var(--white);
  padding: 0 2rem 2rem;
  text-rendering: optimizeLegibility;
  font-size: 15px;
  line-height: 26px;
}

.sandbox .preview p {
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
}

.sandbox .preview-pane .CodeMirror-selected,
.sandbox .preview-pane ::selection {
  color: var(--black);
  background: var(--theme);
}
