.sandbox {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  border: 1px solid var(--dark);
}

.sandbox .CodeMirror,
.sandbox .react-codemirror2 {
  cursor: text;
  height: 100%;
}

.sandbox section:nth-child(1) .CodeMirror,
.sandbox section:nth-child(1) .react-codemirror2 {
  color: white;
  background: var(--contrast-dark);
  border-top: 1px solid rgba(255, 255, 255, 0.22);
}

.sandbox section:nth-child(2) {
  background: var(--white);
}

.sandbox section:nth-child(2) .CodeMirror-selected,
.sandbox section:nth-child(2) ::selection {
  color: var(--black);
  background: var(--theme);
}

.sandbox .CodeMirror-gutters {
  background-color: var(--contrast-dark);
  border-right: 1px solid rgba(255, 255, 255, 0.22);
}

.sandbox .CodeMirror-linenumber {
  color: var(--contrast-dark);
}

.sandbox .CodeMirror-cursor {
  border-left: 1px solid var(--theme);
}

.sandbox nav {
  padding: 0.5rem 2rem 0.5rem 30px;
  background: var(--contrast-dark);
}

.sandbox h1,
.sandbox nav {
  display: flex;
  flex: 0 1 auto;
}

.sandbox nav button {
  cursor: pointer;
  background: var(--white);
  border: 1px solid var(--contrast-dark);
  padding: 0.25rem 0.5rem;
}

.sandbox .btn-group {
  margin-left: auto;
}

.sandbox .btn-group:after {
  content: '';
  clear: both;
  display: table;
}

.sandbox .btn-group button:not(:last-child) {
  border-right: none;
}

.sandbox .container {
  display: flex;
  flex: 1;
  min-height: 0;
}

.sandbox section {
  overflow: scroll;
  width: 50%;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.sandbox .preview {
  height: 100%;
  padding: 0 2rem 2rem;
}

.sandbox .preview p,
.sandbox .preview a,
.sandbox .preview h1,
.sandbox .preview h2,
.sandbox .preview h3,
.sandbox .preview h4,
.sandbox .preview h5,
.sandbox .preview h6 {
  color: var(--black);
}

.sandbox .preview p {
  text-rendering: optimizeLegibility;
  font-size: 14px;
  line-height: var(--line-height-3);
}

.sandbox .preview .callout p {
  line-height: 20px;
}
