.content {
  display: flex;
  line-height: 20px;
  padding: 12px 20px;
  border-radius: var(--radii-1);
  box-shadow: 0 0 0 1px var(--gray-2);
}

.content :global .icon {
  margin-top: 4px;
}

.content :global p {
  margin: 0;
}

.note {
  background: #f7fafc;
}

.caution {
  background: #fcf9e9;
}

.check {
  background: #efffed;
}

.warning {
  background: #fff8f5;
}

.copy {
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--dark);
}

.icon {
  padding-right: 8px;
}

.wrapper {
  padding: 20px 0 12px;
}
