.icon {
  display: inline-block;
  position: relative;
  top: +2px;
  font-size: inherit;
  min-width: 16px;
}

.note {
  color: #8792a2;
}

.caution {
  color: #d97917;
}

.check {
  color: #1ea672;
}

.warning {
  color: #ed5f74;
}
